@import '@/assets/Scss/Utils/_variables.scss';

.ApartementGallery {
    background-color: $color-backgroundHome;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
    padding: 40px 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 100%;
    border-radius: 25px;
    @media screen and (max-width: $tablette) {
        display: flex;
        flex-direction: column;
    }
}
