@import '@/assets/Scss/Utils/_variables.scss';

.BodyLogementDetailContainer {
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .LogementDetailContainer {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        @media screen and (max-width: $tablette) {
            margin-top: 60px;
        }

        .CoverContainer {
            position: relative;
            width: 100%;
            height: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ImgLogementDetail {
                object-fit: cover;
                border-radius: 15px;
                width: 100%;
                height: 100%;
            }

            .CarouselArrowLeft,
            .CarouselArrowRight {
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                width: 70px;
            }

            .CarouselArrowLeft {
                left: 0;
            }

            .CarouselArrowRight {
                right: 0;
            }
        }
    }

    .TitleLogementDetailContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: $mobile) {
                display: block;
            }
    }

    .TitleLogementDetail,
    .LocationLogementDetail,
    .TagLogementDetailContainer,
    .HostNameLogementDetail,
    .HostPictureLogementDetail,
    .RatingLogementDetail {
        flex: 1;
        margin: 0;
        padding: 0;
    }

    .GaucheLogementDetailContainer {
        display: flex;
        flex-direction: column;
        margin-top: -25px;
    }

    .DroiteLogementDetailContainer {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .TitleLogementDetail {
        color: $color-primary;
        font-size: xx-large;
        margin-top: 50px;
    }

    .LocationLogementDetail {
        color: $color-black;
        margin-top: 5px;
        text-align: left;
    }

    .HostNameLogementDetail {
        font-size: larger;
        margin-top: 40px;
        color: $color-primary;
        @media screen and (max-width: $mobile) {
            margin-top: 0;
        }
    }

    .HostLogementDetailContainer {
        display: flex;
        flex-direction: row-reverse;
        @media screen and (max-width: $mobile) {
            display: block;
        }
    }

    .HostPictureLogementDetail {
        background-color: $color-black;
        border-radius: 50%;
        width: 70px;
        height: 90px;
        margin-top: 20px;
    }

    .TagLogementDetailContainer {
        display: inline-block;
    }

    .TagLogementDetail {
        margin-right: 10px;
        margin-top: 15px;
        width: 500px;
        padding: 0;

        li {
            display: inline-block;
            background-color: $color-primary;
            color: $color-white;
            border-radius: 15px;
            padding: 3px 15px;
            margin-right: 10px;
            
        }
    }

    .CollapseLogementDetailContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 150px;
        @media screen and (max-width: $tablette) {
                flex-direction: column;
                margin-top: 10px;
                gap: 15px;
            }
    }

    .EquipmentLogementDetail {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .DetailLogementContainer {
        @media screen and (max-width: $tablette) {
            display: flex;
            flex-direction: column;
        }
    }
}
