@import '@/assets/Scss/Utils/_variables.scss';


.Card {
    position: relative;
    height: 100%;
    min-height: 340px;
    border-radius: 10px;
    list-style: none;
    @media screen and (max-width: $tablette) {
        display: flex;
        flex-direction: column;
    }
}

.Card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.Card .Card-sombre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $degraderHome;
    border-radius: 10px;
}

.Card h2 {
    position: absolute;
    left: 20px;
    bottom: 25px;
    color: $color-backgroundHome;
    font-size: 18px;
    font-weight: 500;
    width: 50%;
}


.Card:hover {
    background: $degraderHome;
    cursor: pointer;
}