.section {
    max-height: 300px;

    .image-container {
        margin: 0 auto;
        width: 1200px;
        height: 130px;
        overflow: hidden;
        margin-top: 80px;

        img {
            width: 100%; 
            height: auto; 
            display: block;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
