.SectionError {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TitleError {
    color: #FF6060;
    font-size: 200px;
    margin: 50px 0px;
}

.MessageError {
    color: #FF6060;
    margin-top: 65px;
    font-size: larger;
    margin-bottom: 100px;
}

.LinkError {
    margin: 40px 0 176px 0;
}